@import "./vars";
@import "./mixins.scss";

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.list-layout {
  display: flex;
  flex-direction: column;
}

button {
  border: 0;
  background-color: transparent;
}

//tabs

// .bloc-tabs {
//   display: flex;
//   width: 40%;
//   min-width: 200px;
// }
// .tabs {
//   padding: 20px;
//   text-align: center;
//   width: 50%;
//   cursor: pointer;
//   box-sizing: content-box;
//   position: relative;
//   outline: none;
//   border: 0;
//   background-color: transparent;
// }
// .tabs:not(:last-child) {
// }

// .active-tabs {
//   border: 0;
//   background-color: transparent;
//   background-color: #eeeeee;
//   border-radius: 20px;
// }

// .active-tabs::before {
//   content: "";
//   display: block;
//   position: absolute;
//   top: -5px;
//   left: 50%;
//   transform: translateX(-50%);
//   width: calc(100% + 2px);
//   height: 5px;
// }

// .content-tabs {
//   flex-grow: 1;
// }

//here

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --primary-color: #185ee0;
  --secondary-color: #e6eef9;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.radio-container {
  font-family: Poppins;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  margin: 0.2em 0 0.2em 0;
}
.tabs {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 99px; // just a high number to create pill effect
  * {
    z-index: 2;
  }
}

input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 100px;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 99px; // just a high number to create pill effect
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}

input[type="radio"] {
  &:checked {
    & + label {
      color: var(--primary-color);
      & > .notification {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
  }
}

input[id="radio-1"] {
  &:checked {
    & ~ .glider {
      transform: translateX(0);
    }
  }
}

input[id="radio-2"] {
  &:checked {
    & ~ .glider {
      transform: translateX(100%);
    }
  }
}

input[id="radio-3"] {
  &:checked {
    & ~ .glider {
      transform: translateX(200%);
    }
  }
}

input[id="radio-4"] {
  &:checked {
    & ~ .glider {
      transform: translateX(300%);
    }
  }
}

.glider {
  position: absolute;
  display: flex;
  height: 32px;
  width: 100px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 99px; // just a high number to create pill effect
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}

.projects-content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.projects-content h2 {
  padding: 0px 0 5px 0px;
}

.projects-content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
