p {
  font-family: Poppins;
}

.tag {
  background-color: rgb(243, 138, 0);
  padding: 0 12px 0 12px;
  margin-right: 0.4em;
  border-radius: 20px;
}

.mainPostContainer {
  display: flex;
  flex-direction: row;
}

.mainPostPicture {
  margin: 0 16px 0 0;
}

.mainPostTitle {
  font-size: 36px;
  font-weight: 700;
}

.mainPostDescription {
}

.mainPostDate {
}

.secPostContainer {
  display: flex;
  flex-direction: column;
}

.secPostPicture {
}

.secPostTitle {
}

.secPostDescription {
}

.secPostDate {
}

.repoContainer {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  padding: 0.8em;
  background-color: rgb(221, 221, 221);
  border-radius: 0.8em;
}

#repoStats {
  padding: 0 0.8em 0 0;
  display: flex;
  // background-color: bisque;
}

.repoFooter {
  display: flex;
  justify-content: space-between;
}

.repoTags {
  display: flex;
  flex-direction: row;
}

.repo-tag {
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(243, 138, 0);
  padding: 0 12px 0 12px;
  margin-right: 0.4em;
  border-radius: 20px;
}

.inline-repo-stats {
  font-size: 12px;
  // background-color: aqua;
  font-weight: 700;
  margin: 0 0 0 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.repoTitle {
  margin: 0;
  // background-color: aquamarine;
}

.repoDesc {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  // background-color: aqua;
}

// post card

.list-blogpost-container {
  display: flex;
  height: 300px;
  flex-direction: row;
  background-color: #e0e0e0;
  border-radius: 20px;
  margin: 0.8em 0 0.8em 0;
}

.list-blogpost-image-container {
  width: 40%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.list-blogpost-info-container {
  padding: 1.6em;
}

.grid-blogpost-container {
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  border-radius: 20px;
  margin: 0.8em 0 0.8em 0;
}

.grid-blogpost-image-container {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.grid-blogpost-info-container {
  padding: 1.6em;
}

.testimonial-avatar-container {
  margin-top: 1.2em;
}

.testimonial-card-container {
  width: 30em;
  background-color: transparent;
  padding: 1.8em;
  border: solid 3px #527693;
  border-radius: 20px;
}
