p {
  font-family: Poppins;
}

.tag {
  background-color: rgb(243, 138, 0);
  padding: 0 12px 0 12px;
  margin-right: 0.4em;
  border-radius: 20px;
}

.mainPostContainer {
  display: flex;
  flex-direction: row;
}

.mainPostPicture {
  margin: 0 16px 0 0;
}

.mainPostTitle {
  font-size: 36px;
  font-weight: 700;
}

.mainPostDescription {
}

.mainPostDate {
}

.secPostContainer {
  display: flex;
  flex-direction: column;
}

.secPostPicture {
}

.secPostTitle {
}

.secPostDescription {
}

.secPostDate {
}

.repoContainer {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  padding: 0.8em;
  background-color: rgb(221, 221, 221);
  border-radius: 0.8em;
}

#repoStats {
  padding: 0 0.8em 0 0;
  display: flex;
  // background-color: bisque;
}

.repoFooter {
  display: flex;
  justify-content: space-between;
}

.repoTags {
  display: flex;
  flex-direction: row;
}

.repo-tag {
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(243, 138, 0);
  padding: 0 12px 0 12px;
  margin-right: 0.4em;
  border-radius: 20px;
}

.inline-repo-stats {
  font-size: 12px;
  // background-color: aqua;
  font-weight: 700;
  margin: 0 0 0 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.repoTitle {
  margin: 0;
  // background-color: aquamarine;
}

.repoDesc {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  // background-color: aqua;
}

// post card

.post-card {
  color: inherit;
  text-decoration: none;
}

.post-card:hover {
  text-decoration: none;
}

.post-card-tags {
  margin: 0 0 5px 0;
  font-size: 1.4rem;
  line-height: 1.15em;
  color: var(--color-secondary);
}

.post-card-title {
  margin: 0 0 10px 0;
  padding: 0;
}

.post-card-excerpt {
  font-size: 1.6rem;
  line-height: 1.55em;
}

.post-card-image {
  margin: 0 0 10px 0;
  width: auto;
  height: 200px;
  background: var(--color-secondary) no-repeat center center;
  background-size: cover;
}

.post-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
  color: var(--color-secondary);
}

.post-card-footer-left {
  display: flex;
  align-items: center;
}

.post-card-footer-right {
  display: flex;
  flex-direction: column;
}

.post-card-avatar {
  width: 30px;
  height: 30px;
  margin: 0 7px 0 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-card-avatar .author-profile-image {
  display: block;
  width: 100%;
  background: var(--color-secondary);
  border-radius: 100%;
  object-fit: cover;
}

.post-card-avatar .default-avatar {
  width: 26px;
}
