.scrollTop {
  position: sticky;
  width: 100%;
  bottom: 100px;
  align-items: center;
  height: 5px;
  justify-content: flex-end;
  animation: fadeIn 0.5s;
  transition: opacity 0.7s;
  opacity: 0.5;
  cursor: pointer;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
