.about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bio {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  color: #4c596a;
}

.microcontainer {
  display: flex;
  flex-direction: row;
}

.minicontainer {
  display: flex;
}

.personal-asset {
  display: flex;
  justify-content: center;
}

.about-contact {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0 20px 0;
  border-radius: 20px;
  .about-getintouch {
    color: white;
    text-decoration: none;
    background: rgb(180, 196, 209);
    background: -moz-linear-gradient(
      42deg,
      rgba(180, 196, 209, 1) 0%,
      rgba(82, 118, 147, 1) 100%
    );
    background: -webkit-linear-gradient(
      42deg,
      rgba(180, 196, 209, 1) 0%,
      rgba(82, 118, 147, 1) 100%
    );
    background: linear-gradient(
      42deg,
      rgba(180, 196, 209, 1) 0%,
      rgba(82, 118, 147, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b4c4d1",endColorstr="#527693",GradientType=1);
    padding: 8px 40px 8px 40px;
    border-radius: 20px;
  }
}

.about-bar {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .microcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .about-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .first,
  .third {
    display: flex;
    flex-direction: column;
  }
  .first div:first-child {
    order: 1;
  }
  .third div:first-child {
    order: 1;
  }
}
