.about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bio {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
}

// .minicontainer {
//   flex: 1;
// }

.personal-asset {
  display: flex;
  justify-content: center;
}
