.intro-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.intro-minicontainer {
  margin: 1.8em;
}

.personal-asset {
  display: flex;
  justify-content: center;
}

.go-to-blog {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  margin-top: 8px;
  .visit-blog {
    color: #4c596a;
    text-decoration: none;
    background-color: transparent;
    padding: 4px 20px 4px 20px;
    margin-right: 0.8em;
    border-radius: 20px;
    border: 2px solid #4c596a;
  }
  .visit-blog:hover,
  .visit-blog:focus {
    color: #fff;
    outline: 0;
    padding: 6px 22px 6px 22px;
  }
  .visit-resume {
    color: #527693;
    text-decoration: none;
    background-color: transparent;
    padding: 4px 20px 4px 20px;
    border-radius: 20px;
    border: 2px solid #527693;
  }
  .visit-resume:hover {
    color: #fff;
    outline: 0;
    padding: 6px 22px 6px 22px;
  }
  .first {
    -webkit-transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 40px 40px #4c596a inset;
    border: none;
    outline: none;
  }
  .second {
    -webkit-transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  }
  .second:hover {
    box-shadow: 0 0 40px 40px #527693 inset;
    border: none;

    outline: 0;
  }
}

.myname {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
}

.dictionary {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
}

.intro {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
}

.line {
  width: 80%;
  text-align: left;
  margin-left: 0;
  border-width: 1px;
  border-color: #4c596a;
  background-color: #4c596a;
}

// skills Component

// .inter-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 5em 0 0 0;
// }

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0 0 0;
}

.skill-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 2em 0.4em 2em 0.4em;
  font-size: 0.7em;
  padding: 2em;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 150px;
}

.row-skills-container {
  display: flex;
  flex-direction: row;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-title {
  text-align: center;
}

#skills-header {
  margin: 0;
}

#skills-section-title {
  font-size: 1em;
  font-weight: 500;
  color: #527693;
  margin: 0;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.8em;
}

.work-container {
  margin-top: 2.8em;
}
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  cursor: pointer;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background-color: #d19821 !important;
}

.swiper-button-prev {
  cursor: pointer;
  padding: 0.4em;
  position: absolute;
  top: 50%;
  left: 10px;
  right: auto;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}

.swiper-button-next {
  cursor: pointer;
  padding: 0.4em;
  position: absolute;
  top: 50%;
  right: 10px;
  left: auto;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-all {
  color: #527693;
  font-weight: 600;
  margin: 0.8em 0 0.8em 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

//Subsribe

.subscribe-container {
  display: flex;
  justify-content: center;
  color: #527693;
}
.subscribe-minicontainer {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  text-align: center;
  align-items: center;
  padding: 0.8em;
  width: 80%;
  background-color: #eeeeee;
  border-radius: 200px;
}

.subscribe-input {
  width: 100%;
  font-size: 0.7em;
  border-radius: 20px;
  border: 2px solid #527693;
  padding: 0.4em;
  padding-left: 1.6em;
}

.subscribe-button {
  border-radius: 20px;
  color: #ffffff;
  background-color: #527693;
  padding: 0.6em 1.8m 0.6em 1.8em;
  outline: none;
  cursor: pointer;
  width: 200px;
}
.subscribe-input :focus {
  outline: none;
}

.subscribe-item {
  width: 100%;
  border-radius: 20px;
  border: solid #527693;
  border-width: 2px;
  padding-left: 0.4em;
  background-color: #ffffff;
}

.in {
  background-color: transparent;
  border: 0;
  padding: 0.6em 1.2em 0.6em 1.2em;
  width: 100%;
}

.gridarticles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.subscribe-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

// @media only screen and (max-width: 800px) {
//   .subscribe-button {
//     margin: 0.6em 0 0.6em 0;
//     padding: 0.4em 0.8em 0.4em 0.8em;
//   }
// }

@media only screen and (max-width: 1200px) {
  .subscribe-section {
    flex-direction: column;
    align-items: center;
  }
  .subscribe-button {
    margin: 0.6em 0 0.6em 0;
    padding: 0.4em 0.8em 0.4em 0.8em;
  }
  .subscribe-minicontainer {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    text-align: center;
    align-items: center;
    padding: 0.8em;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .go-to-blog {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
