@import "../../styles/index.scss";

.content {
  font-family: "Poppins";
}

.contact-form-header {
  width: 50%;
  margin: 0 0 0.6em 0;
}

h2 {
  color: var(--text-color);
  margin: 0;
}

.description {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  color: var(--text-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 1.2rem;
  width: 100%;
  padding-top: 2rem;
  background-color: #4c596a;
  border-radius: 20px;
  padding: 0.8em;
  input {
    font-family: "Poppins";
    font-size: 12px;
    padding: 8px 8px 8px 12px;
    border-radius: 20px;
    border-width: 0;
    outline: none;
  }
  textarea {
    font-family: "Poppins";
    color: var(--heading-color);
    background: var(--secondary-bg-color);
    padding: 16px;
    width: 80%;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 12px;
    resize: none;
  }
  label {
    color: var(--secondary-text-color);
    font-size: 0.6em;
    padding-left: 12px;
  }
  .actions {
    font-family: "Poppins";
    padding-bottom: 0.4em;
    .send {
      font-size: 14px;
      font-weight: 600;
      color: white;
      text-decoration: none;
      background-color: #d19821;
      padding: 8px 40px 8px 40px;
      border-radius: 20px;
    }
  }
}

.contact-item {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 1em;
}

.contact-item-long {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.social {
  float: right;
  display: flex;
  flex-direction: row;
}

a {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

#info-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

#info-text {
  margin-left: 0.4em;
}

#contact-label {
  margin-bottom: 8px;
}

.contact-image {
  position: absolute;
  right: -60px;
  top: -120px;
}

.form-container {
  position: relative;
}
